/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  --nav-color: #3d2205;
  --hover-color: #674118;
  --text-color: #DFD7BF;
  --text-color1: #c4a074;
  --body-color: #F5F5F5;

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Montserrat", sans-serif;
  --family-font: 'Poppins', sans-serif;
  --normal-font-size: .938rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-semi-bold: 600;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1024px) {
  :root {
    --normal-font-size: 1rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  text-decoration: none;
  padding: 0;
  margin: 0;
  font-family: var(--family-font);
}
/* ----- SMOOTH SCROLL ----- */
html{
  scroll-behavior: smooth;
}
/* ----- CHANGE THE SCROLL BAR DESIGN ----- */
::-webkit-scrollbar{
  width: 10px;
  border-radius: 25px;
}
::-webkit-scrollbar-track{
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb{
  background: #ccc;
  border-radius: 30px;
}
::-webkit-scrollbar-thumb:hover{
  background: #bbb;
}

body {
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
}

/*=============== REUSABLE CSS CLASSES and ID ===============*/
nav {
  display: flex;
  margin-top: 10px;
  justify-content: space-between; /* Ensures space between items */
  align-items: center; /* Vertically centers the items */
  width: 100%;
  height: 70px;
  background: #3d2205;
  padding: 0 20px;
  transition: .3s;
  z-index: 100;
  border-radius: 1rem;
  box-shadow: 0 2px 16px hsla(222, 32%, 8%, 0.3);
  transform: scale(0.9);
}
/*=============== HEADER ===============*/
#header {
  position: fixed;
  max-width: none;
  color: var(--text-color);
  font-weight: 700;
  font-size: 18px;
  top: 15px;;
}

/*=============== NAV ===============*/
.nav-logo {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 10px;
  color: var(--text-color-second);
  flex: 1; /* Pushes the logo to the left */
  text-align: left; /* Align text/logo content to the left */
}
.nav-name{
  text-align: left;
}
.nav-menu, .nav_menu_list {
  display: flex;
}

.nav-menu .nav_list{
  list-style: none;
  position: relative;
}
.nav-link{
  text-decoration: none;
  color: var(--text-color-second);
  font-weight: 500;
  padding: 0 20px;
  margin-inline: 5px;
}
/* Hamburger menu for small screens */
.nav-menu-btn {
  display: none;
  margin-left: 10px;
}

.nav-menu-btn i {
  font-size: 24px;
  color: var(--text-color);
  cursor: pointer;
}

.active-link{
  position: relative;
  color: var(--text-color1);
}
.active-link::after{
  content: '';
  position: absolute;
  left: 50%;
  bottom: -15px;
  transform: translate(-50%, -50%);
  width: 54px;
  height: 4px;
  background: var(--text-color);
  border-radius: 50px;
}
.log-site-btn {
  flex: 1; /* Pushes the button to the right */
  display: flex;
  justify-content: flex-end; /* Aligns items to the right */
  align-items: center; /* Vertically centers the button */
  gap: 20px;
  color: var(--text-color-second);
}
.sign-up-button{
  text-decoration: none;
  color: var(--text-color-second);
  display: flex;
  gap: 10px;
  font-size: 20px;
}
.sign-up-button:hover{
  color: var(--text-color1);
}
.sign-up-button h6{
  font-size: 16px;
}

/* Hide navigation links on smaller screens */
@media screen and (max-width: 1118px) {
  body{
    overflow-x: hidden;
  }
  #header {
    position: absolute;
    width: 100%;
    left: 0;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
    font-weight: 700;
    font-size: 18px;
  }
  .nav-menu {
    display: none;
    flex-direction: column;
    background: var(--nav-color);
    position: absolute;
    top: var(--header-height);
    left: 0;
    width: 100%;
    padding: 14px;
    border-radius: 0 0 10px 10px;
    z-index: 100;
  }
  .active-link{
    position: relative;
    color: var(--text-color1);
    transition: .3;
  }
  .active-link::after{
    content: '';
    position: absolute;
    left: 25%;
    bottom: -5%;
    transform: translate(-9%, 92%);
    width: 54px;
    height: 4px;
    background: var(--text-color);
    border-radius: 50px;
  }

  .nav-menu.active {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .nav-menu-btn {
    display: block;
  }
  .nav-menu-btn .fa-bars:hover{
    color: var(--text-color1);
  }
  .sign-up-button i{
    font-size: 25px;
  }
  .sign-up-button i:hover{
    color: var(--text-color1);
  }
  .sign-up-button h6{
    display: none;
  }

  /* Home Page for mobile devices */
  .home-container {
    min-height: auto;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    margin-left: 0;
    padding: 10rem 48px;
    text-align: center;
  }
  .home-content {
    padding-top: 80px;
    margin-left: 30px;
  }
  .featured-name h2{
    font-size: 40px;
    background: linear-gradient(
    to left,
    #c4a074 20%,
    #635d57 30%,
    #3d2205 70%,
    #674118 80%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 500% auto;
  animation: textShine 5s ease-in-out infinite alternate;
  }
  @keyframes textShine {
  0% {
      background-position: 0% 50%;
  }
  100% {
      background-position: 100% 50%;
  }
  }
  .home-content h4 {
    font-size: 22px;
    margin-top: 15px;
  }
  
  .home-content p {
    font-size: 18px;
    margin-top: 10px;
    padding: 8px 0px;
  }
  .menu-button {
    flex-direction: row;
    justify-content: flex-start;
  }

  .menu-button .btn {
    width: 100%;
    margin: 0 10px;
  }
  .menu-button .btn:hover{
  color: var(--nav-color);
  background-color: var(--text-color1);
  }

  .home-img {
    margin-top: 30px;
    transform: scale(0.7);
    filter: drop-shadow(4px 4px 4px black);
  }

  /*Recommended container */
  .listcoffee h1 {
    text-align: center;
    font-size: 2rem;
    background: linear-gradient(
    to left,
    #c4a074 20%,
    #635d57 30%,
    #3d2205 70%,
    #674118 80%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 500% auto;
  animation: textShine 5s ease-in-out infinite alternate;
  }
  @keyframes textShine {
  0% {
      background-position: 0% 50%;
  }
  100% {
      background-position: 100% 50%;
  }
  }
  .underline{
    position: relative;
    color: var(--nav-color);
  }
  .underline::after{
    content: '';
    position: absolute;
    left: 50%;
    bottom: -15px;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 5px;
    background: var(--hover-color);
  }

   /* favorite items */
   #favorite-list {
    list-style-type: none; 
    padding: 0; 
  }
  
  #favorite-list li {
    padding: 10px 100px 10px 10px; /* Space inside the border */
    display: flex; /* Align items in a row */
    align-items: center; /* Center items vertically */
    margin-bottom: 10px; /* Space between list items */
    background-color: #fcfcfc; /* Background color for the favorite item */
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.1); /* Box shadow effect */
    border-radius: 20px;
    font-size: 15px;
  }
  #favorite-list li img {
    background: radial-gradient(circle, hsla(45, 33%, 81%, 1) 0%, hsla(36, 34%, 77%, 1) 48%, hsla(31, 31%, 55%, 1) 100%);
    border-radius: 15px;
  }
  .modal {
    display: none; 
    position: fixed; 
    z-index: 1000; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(7px);
  }
  
  .modal-content {
    background-color: #fffafa;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 90%; 
    border-radius: 20px;
  
  }
  .modal-content h2{
    font-size: 20px;
  }
  .close {
    color: #aaa;
    float: right;
    font-size: 20px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  .favorite{
    display: flex;
  }
  .favorite:hover{
    color: var(--text-color1);
  }
  .favorite-item-image {
    margin-right: 10px; 
    width: 60px; 
    height: auto; 
    margin-right: 10px; 
  }
  .delete-icon{
    cursor: pointer;
    color: rgb(144, 143, 143); 
    position: absolute;
    margin-left: 22rem;
  }
  .delete-icon:hover{
    color: var(--nav-color);
  }
}

/* For large devices */
@media screen and (min-width: 1118px) {
  /*Home in large device */
  #header {
    position: fixed;
    width: 100%;
    left: 0;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
    font-weight: 700;
    font-size: 18px;
  }
  .home-container {
    min-height: auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 5rem;
    align-items: center;
    padding: 10rem 0;
    text-align: center;
  }
  .home-content {
    padding-top: 39px;
  }
  
  .featured-name h2{
  font-size: 50px;
  font-weight: 600;
  margin-block: 20px;
  background: linear-gradient(
    to left,
    #c4a074 20%,
    #635d57 30%,
    #3d2205 70%,
    #674118 80%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 500% auto;
  animation: textShine 5s ease-in-out infinite alternate;
  }
  @keyframes textShine {
  0% {
      background-position: 0% 50%;
  }
  100% {
      background-position: 100% 50%;
  }
  }

  .home-content h4 {
    font-size: 22px;
    margin-top: 8px;
  }
  
  .home-content p {
    font-size: 18px;
    margin-top: 10px;
  }

  .menu-button .btn {
    width: 100%;
    margin: 0 10px;
    color: var(--text-color);
    background-color: var(--nav-color);
    padding: 10px 12px 10px 12px;
    border-radius: 4rem;
    box-shadow: 0 2px 16px hsla(222, 30%, 8%, 0.3);
  }
  .menu-button .btn:hover{
    color: var(--nav-color);
    background-color: var(--text-color1);
  }
  .home-img {
      max-width: 560px;
      margin-top: 16px;
      filter: drop-shadow(4px 4px 4px black);
  }

  /* Recommended Container */
  .listcoffee h1 {
    text-align: center;
    font-size: 40px;
    background: linear-gradient(
    to left,
    #c4a074 20%,
    #635d57 30%,
    #3d2205 70%,
    #674118 80%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 500% auto;
  animation: textShine 5s ease-in-out infinite alternate;
  }
  @keyframes textShine {
  0% {
      background-position: 0% 50%;
  }
  100% {
      background-position: 100% 50%;
  }
  }
  .underline{
    position: relative;
    color: var(--nav-color);
  }
  .underline::after{
    content: '';
    position: absolute;
    left: 50%;
    bottom: -15px;
    transform: translate(-50%, -50%);
    width: 30%;
    height: 5px;
    background: var(--hover-color);
  }

  /* favorite items */
  #favorite-list {
    list-style-type: none; 
    padding: 0; 
  }
  
  #favorite-list li {
    padding: 10px; /* Space inside the border */
    display: flex; /* Align items in a row */
    align-items: center; /* Center items vertically */
    margin-bottom: 10px; /* Space between list items */
    background-color: #fcfcfc; /* Background color for the favorite item */
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.1); /* Box shadow effect */
    border-radius: 20px;
  }
  #favorite-list li img {
    background: radial-gradient(circle, hsla(45, 33%, 81%, 1) 0%, hsla(36, 34%, 77%, 1) 48%, hsla(31, 31%, 55%, 1) 100%);
    border-radius: 15px;
  }
  .modal {
    display: none; 
    position: fixed; 
    z-index: 1000; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(7px);
    overflow: hidden;
    overflow-y: scroll;
  }
  
  .modal-content {
    background-color: #fffafa;
    position: relative;
    padding: 20px;
    border: 1px solid #888;
    width: 90%; 
    border-radius: 20px;
    margin: 15% auto;
  }
  .modal-content h2{
    font-size: 20px;
  }
  .close {
    color: #aaa;
    float: right;
    font-size: 20px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  .favorite{
    display: flex;
  }
  .favorite:hover{
    color: var(--text-color1);
  }
  .favorite-item-image {
    margin-right: 10px; 
    width: 60px; 
    height: auto; 
    margin-right: 10px; 
  }
  .delete-icon{
    cursor: pointer;
    color: rgb(144, 143, 143); 
    position: absolute;
    margin-left: 80rem;
  }
  .delete-icon:hover{
    color: var(--nav-color);
  }
}

/* Default styles for smaller screens*/


.home-content {
  padding-top: 50px;
  margin: 0;
}



.menu-button {
  align-items: center;
  margin-top: 30px;
}

.menu-button .btn {
  width: 80%;
  margin-bottom: 10px;
  color: var(--text-color);
  background-color: var(--nav-color);
  padding: 10px 12px 10px 12px;
  border-radius: 4rem;
  box-shadow: 0 2px 16px hsla(222, 30%, 8%, 0.3);
}

.menu-button .btn:hover{
  color: var(--nav-color);
  background-color: var(--text-color1);
}

.home-img {
  max-width: 100%;
  margin-top: 20px;
}

.typedText{
  text-transform: capitalize;
  color: var(--text-color1);
}


/* Media query for devices wider than 768px (tablets and larger screens) */
@media screen and (min-width: 768px) {
  .home-container {
      grid-template-columns: 1fr 1fr;
      padding: 6rem;
      text-align: left;
  }

  .home-content {
      padding-top: 30px;
      margin-left: 12px;
  }

  .menu-button {
      flex-direction: row;
      justify-content: flex-start;
  }

  .menu-button .btn {
      width: 100%;
      margin: 0 7px;
      color: var(--text-color);
      background-color: var(--nav-color);
      padding: 10px 12px 10px 12px;
      border-radius: 4rem;
      box-shadow: 0 2px 16px hsla(222, 30%, 8%, 0.3);
  }
  .menu-button .btn:hover{
    color: var(--nav-color);
    background-color: var(--text-color1);
  }

  .home-img {
      margin-top: 15px;
      transform: scale(0.9);
      margin-left: 90px;
  }
}
/* Recommended Container */
.category{
  margin-top: 40px;
  padding: 100px 0 0 0;
}
.category h1{
  margin-bottom: 30px;
  text-align: center;
  font-size: 40px;
  color: var(--nav-color);
  text-shadow: 2px 2px 4px #979797;
}

.recommended-container {
  padding: 100px 20px;
  background-color: #f5f5f5;
}
.listcoffee{
  padding: 115px 10px;
}


/* Menu Container */
.menu-container {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.menu-item {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: auto;
  align-items: center;
  position: relative;
}

.item-info {
  max-width: 65%;
}

.item-info p {
  text-align: justify;
}

.item-info h3 {
  font-size: 16px;
}

.item-info h2 {
  color: rgb(85, 83, 83);
  font-size: 20px;
}

.item-info p {
  font-size: 16px;
}

.item-image img {
  width: 92px;
  position: relative;
  height: auto;
  background: radial-gradient(circle, hsla(45, 33%, 81%, 1) 0%, hsla(36, 34%, 77%, 1) 48%, hsla(31, 31%, 55%, 1) 100%);
  border-radius: 10px;
  overflow: hidden;

}

.item-icons {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.item-icons i {
  font-size: 25px;
  cursor: pointer;
}

.overlay-plus-icon {
  font-size: 18px;
  color: var(--nav-color);
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  
}
/* Transition to 'X' style */
  .overlay-plus-icon:hover {
      transform: rotate(45deg) scale(1.2); /* Rotates to form 'X' */
      color: var(--text-color1); /* Changes color to red */
  }
  .overlay-plus-icon::after {
    transform: sta(90deg); /* Rotates to form 'X' */
    color: var(--text-color1); /* Changes color to red */
}

.add-to-favorites-button {
  padding: 10px 15px;
  background-color: #c4a074; 
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  height: 35px;
}

.add-to-favorites-button:hover {
  background-color: #3d2205; 
  color: #fff; 
}

.added-to-favorites {
  background-color: #674b2a; 
  color:#ffffff; 
  border: none;
  cursor: not-allowed; 
}
.description {
  margin-top: 5px;
}

.modal-content h2{
  font-size: 20px;
}
.close {
  color: #aaa;
  float: right;
  font-size: 20px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.favorite{
  display: flex;
}
.favorite:hover{
  color: var(--text-color1);
}
.favorite-item-image {
  margin-right: 10px; 
  width: 60px; 
  height: auto; 
  margin-right: 10px; 
}


/* Mobile devices */
@media (max-width: 600px) {
  .menu-item {
    width: 100%; /* Full width for smaller screens */
    max-height: 100%;
  }
  
  .item-info h2 {
    font-size: 18px;
  }

  .item-info h3 {
    font-size: 16px;
  }

  .item-info p {
    font-size: 14px;
  }

  .item-image {
    width: 100px;
    height: 80px;
  }

  .item-image img {
    width: 92px;
    position: relative;
    height: auto;
    background: radial-gradient(circle, hsla(45, 33%, 81%, 1) 0%, hsla(36, 34%, 77%, 1) 48%, hsla(31, 31%, 55%, 1) 100%);
    border-radius: 10px;
    overflow: hidden;
  }
}

/* Tablets */
@media (min-width: 746px) and (max-width: 1024px) {
  .menu-item {
    width: 48%;
  }
  
  .item-info h2 {
    font-size: 19px;
  }

  .item-info h3 {
    font-size: 15px;
  }

  .item-info p {
    font-size: 14px;
  }

  .item-image {
    width: 120px;
    height: 100px;
  }

  .item-image img {
    width: 112px;
  }
}
/* Desktops */
@media (min-width: 1025px) {
  .menu-item {
    width: 42%;
  }

  .item-info h2 {
    font-size: 20px;
  }

  .item-info h3 {
    font-size: 16px;
  }

  .item-info p {
    font-size: 14px;
  }

  .item-image img {
  position: relative;
  width: 130px;
  height: 120px;
  background: radial-gradient(circle, hsla(45, 33%, 81%, 1) 0%, hsla(36, 34%, 77%, 1) 48%, hsla(31, 31%, 55%, 1) 100%);
  border-radius: 10px;
  overflow: hidden;
  }
}  

/* slider */
.container{
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0.7);
}
.slider-wrapper {
  overflow: hidden;
  max-width: 1200px;
  margin: 0 70px 55px;
  width: 1000px;
  height: 370px;
  display: flex;
  gap: 10px; 
}

.card-list {
  display: flex;
  transition: transform 0.3s ease; 
}

.card-item {
  height: auto;
  color: #000;
  user-select: none;
  padding: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  width: 200px;
  transform: scale(1);
}

.swiper-slide:hover {
  transform: scale(1.2);
  z-index: 10;
  transition: 0.3s ease-in-out;

}

.card-item .user-image {
  width: 170px;
  height: 170px; 
  border-radius: 50%;
  margin-bottom: 20px;
  border: 2px solid #000;
  padding: 4px;
}

.user-name {
  font-size: 22px;
  text-align: center;
  white-space: nowrap; 
  margin-bottom: 15px;
  color: var(--nav-color);
}

.card-item .message-button {
  font-size: 16px;
  padding: 10px 35px;
  color: #3d2205;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  background: #fff;
  border: 1px solid transparent;
  transition: 0.2s ease;
  width: 190px;
}

.card-item .message-button:hover {
  background: rgba(62, 61, 61, 0.1);
  border: 1px solid #000;
  color: #000;
}

.slider-wrapper .swiper-pagination-bullet {
  background: #3d2205;
  height: 13px;
  width: 13px;
  opacity: 0.5;
  border-radius: 50%;
}

.slider-wrapper .swiper-pagination-bullet-active {
  opacity: 1;
}

.slider-wrapper .swiper-slide-button {
  color: #6c4d2b;
  margin-top: -55px;
  transition: 0.2s ease;
}

.slider-wrapper .swiper-slide-button:hover {
  color: #000;
}
.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
  content: 'next';
  font-weight: bolder;
}
.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
  content: 'prev';
  font-weight: bolder;
}
@media (max-width: 300px) {
  .slider-wrapper {
    margin: 0 10px 40px;
  }
  .slider-wrapper .swiper-slide-button {
    display: none;
  }
}

/* Footer Design */
footer {
  color: var(--text-color);
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background: var(--nav-color);
  padding-top: 24px;
}

.footer-img {
  height: 50px;
  align-items: center;
  justify-content: center;
  margin-bottom: 14px
}
.section {
  position: relative;
  margin: 0 30px;
}

.section.top {
  display: grid;
  border-bottom: 2px solid rgb(255 255 255 / 20%);
  padding-bottom: 20px;
}
.logo-name{
  position: absolute;
  text-align: center;
  left: 60px;
  top: 17px;
  font-weight: bolder;
}
.section.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column-reverse;
  gap: 8px;
  padding: 20px 0;
  text-align: center;
}

.section.top .links {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 30px;
  margin-bottom: 36px;
}

.links-column {
  display: grid;
  gap: 10px;
  text-align: center;
}

.section .footer-nav {
  cursor: pointer;
  margin: 0 0 10px;
  font-size: 16px;
  font-weight: 400;
  color: var(--body-color);
  
}
.section .footer-nav:hover{
  color: var(--text-color);
  font-weight: 700;
  font-size: 18px;
  transition: 0.2s ease-in;
}
.footer-socials{
  margin: 0 0 10px;
  font-size: 16px;
  font-weight: 400;
  color: var(--body-color);
}
.follow-us {
  margin: 0;
}

.legal > a {
  margin: 0 0 0 4px;
}

.legal,
.copyright {
  font-size: 12px;
}

.legal > span {
  margin-right: 10px;
}

.section.top .socials {
  position: absolute;
  left: 50%;
  bottom: 10px;
  translate: -50% 0;
  display: flex;
  align-items: center;
  gap: 12px;
  height: 56px;
}

.social-icons{
  font-size: 20px;
  background: rgba(92, 127, 183, 0.25);
  color: var(--text-color);
  width: 36px;
  height: 36px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  text-decoration: none;
  transform: scale(0.9);
}
.social-icons:hover{
  color: var(--text-color1);
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}

.socials-column :is(h2, p) {
  display: none;
}

@media (width > 400px) {
  .links-column {
    text-align: left;
  }

  .section.top .links {
    grid-template-columns: repeat(1, 1fr);
    margin-right: 50px;
  }

  .section.bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: 20px;
    text-align: left;
  }

  .section.top .socials {
    left: 0;
    translate: 0;
  }

  .social-icons{
    margin-top: 15px;
  }

  .top img .logo-name{
    text-align: center;
  }

  .follow-us {
    margin: 0, 0, 10px 0;
  }
}

@media (width >= 640px) {
  .section {
    margin: 0 auto;
    max-width: 580px;
    padding: 0;
  }

  .section.top .links {
    grid-template-columns: repeat(2, 1fr);
  }

  .section.top .socials {
    position: static;
  }

  .socials-column :is(h2, p) {
    display: block;
  }
}


